<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BongrimWallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BongrimWallpaper.Properties.Settings>
      <setting name="dateFont" serializeAs="String">
        <value>맑은 고딕, 20pt</value>
      </setting>
      <setting name="dateFormat" serializeAs="String">
        <value>yyyy년 MM월 dd일</value>
      </setting>
      <setting name="dateColor" serializeAs="String">
        <value />
      </setting>
      <setting name="dateX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dateY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dateVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="mealTitleFont" serializeAs="String">
        <value>맑은 고딕, 32pt</value>
      </setting>
      <setting name="mealContentFont" serializeAs="String">
        <value>맑은 고딕, 22pt</value>
      </setting>
      <setting name="mealContentSpace" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mealTitleColor" serializeAs="String">
        <value />
      </setting>
      <setting name="mealContentColor" serializeAs="String">
        <value />
      </setting>
      <setting name="mealAlignment" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mealLayout" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mealX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mealY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mealVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="classMainFont" serializeAs="String">
        <value>맑은 고딕, 72pt</value>
      </setting>
      <setting name="classSubFont" serializeAs="String">
        <value>맑은 고딕, 50pt</value>
      </setting>
      <setting name="classMainColor" serializeAs="String">
        <value />
      </setting>
      <setting name="classSubColor" serializeAs="String">
        <value />
      </setting>
      <setting name="classAlignment" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="classX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="classY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="classVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="backgroundPath" serializeAs="String">
        <value />
      </setting>
      <setting name="timetablePath" serializeAs="String">
        <value />
      </setting>
      <setting name="mealSpace" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="listSubjectFont" serializeAs="String">
        <value>맑은 고딕, 32pt</value>
      </setting>
      <setting name="listTeacherFont" serializeAs="String">
        <value>맑은 고딕, 25pt</value>
      </setting>
      <setting name="listSubjectColor" serializeAs="String">
        <value />
      </setting>
      <setting name="listSubjectAccentColor" serializeAs="String">
        <value />
      </setting>
      <setting name="listTeacherColor" serializeAs="String">
        <value />
      </setting>
      <setting name="listTeacherAccentColor" serializeAs="String">
        <value />
      </setting>
      <setting name="listLayout" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="listVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="listX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="listY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="listSpace" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="listTeacherVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="weekFont" serializeAs="String">
        <value>맑은 고딕, 32pt</value>
      </setting>
      <setting name="weekColor" serializeAs="String">
        <value />
      </setting>
      <setting name="weekX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="weekY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="students" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="weekLastWeek" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="weekVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="weekLastNums" serializeAs="Xml">
        <value>
          <ArrayOfInt xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
    </BongrimWallpaper.Properties.Settings>
  </userSettings>
</configuration>