<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolWallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SchoolWallpaper.Properties.Settings>
            <setting name="class_x_bar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="class_y_bar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="date_x_bar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="date_font" serializeAs="String">
                <value />
            </setting>
            <setting name="meal_main_font" serializeAs="String">
                <value />
            </setting>
            <setting name="meal_sub_font" serializeAs="String">
                <value />
            </setting>
            <setting name="class_main_font" serializeAs="String">
                <value />
            </setting>
            <setting name="class_sub_font" serializeAs="String">
                <value />
            </setting>
            <setting name="date_color" serializeAs="String">
                <value />
            </setting>
            <setting name="meal_main_color" serializeAs="String">
                <value />
            </setting>
            <setting name="meal_sub_color" serializeAs="String">
                <value />
            </setting>
            <setting name="class_main_color" serializeAs="String">
                <value />
            </setting>
            <setting name="class_sub_color" serializeAs="String">
                <value />
            </setting>
            <setting name="meal_y_bar" serializeAs="String">
                <value>0</value>
            </setting>
        </SchoolWallpaper.Properties.Settings>
    </userSettings>
</configuration>